/* Styles for screens 400px and below */

@media screen and (max-width: 400px) {
  
  .header-section h1 {
      font-size: 2rem;
  }

  .header-section p {
      font-size: 1rem;
  }

  .button {
      padding: 8px 16px;
      font-size: 0.9rem;
  }

  .button__icon {
      display: none;
  }

  .about-container h1 {
      font-size: 1.5rem;
  }

  .about-container p {
      font-size: 0.9rem;
  }

  .title {
      font-size: 1.2rem;
  }

  .infographic-container li {
      font-size: 0.9rem;
  }

  .education-section .title {
      font-size: 1.5rem;
  }

  .education-box {
      flex-direction: column;
  }

  .color-block,
  .education-content {
      padding: 10px;
  }
}